<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>To-Do List</title>
</head>
<body>
    <div id="main">
        <svg width="100%" height="20%">
            <text x="50%" y="70%"  text-anchor="middle"  >
                To-Do List
            </text>
       </svg>
        <form action="/update" class="form" method="post">
            <input type="text" name="subject" id="subject" placeholder="Enter your task" required>
            <button type="submit" id="add">Add Task</button>
        </form>
        
        <% if (message && message.length > 0) { %>
            <p style="color: white; position: relative; top: 10px;"><%= message %></p>
        <% } else { %>
            <p></p> <!-- or any other default message you want to display -->
        <% } %>

    </div>

    <div class="task-list">
        <% if (tasks && tasks.length > 0) { %>
            <h3>Task Pending</h3>
            <!-- <ul>
                <% tasks.forEach(task => { %>
                    <li><%= task.subject %></li><button class="remove">Remove</button>
                <% }) %>
            </ul> -->
            <% tasks.forEach(task => { %>
            <ul>
                
                    <li>
                        <%= task.subject %></li>
                        <form action="/remove" method="POST" class="form2">
                            <input type="hidden" name="taskId" value="<%= task._id %>">
                            <button type="submit" class="remove">Remove</button><br>
                        </form>
                    
                
            </ul>
            <% }) %>
            
        <% } else { %>
            <p>No tasks found.</p>
        <% } %>
    </div>
</body>
</html>