<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>To-Do List</title>
</head>
<body>
    <div id="main">
        <h1>To-Do List</h1><br>
        <form action="/update" class="form" method="post">
            <input type="text" name="subject" id="subject" placeholder="Enter your task" required>
            <button type="submit" id="add">Add Task</button>
        </form>
    </div>

    <div class="task-list">
        <% if (tasks && tasks.length > 0) { %>
            <h3>Task Pending</h3>
            <ul>
                <% tasks.forEach(task => { %>
                    <li><%= task.subject %></li><button class="remove">Remove</button>
                <% }) %>
            </ul>
            
        <% } else { %>
            <p>No tasks found.</p>
        <% } %>
    </div>
</body>
</html>